name: Build TypeScript

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16' # Specify the Node.js version

      - name: Install dependencies
        run: |
          npm install -g typescript
          npm install

      - name: Compile TypeScript
        run: npx tsc

      - name: Upload Compiled Files
        uses: actions/upload-artifact@v2
        with:
          name: compiled-files
          path: dist/
